<main class="mt-5">
    <div class="container">
        <h1 class="text-center display-4 mb-4">About Us</h1>
        <p class="lead text-center">Welcome to Food Blog, a place where you can find and share recipes. We are a community of food lovers and we are always looking for new recipes to try. If you have a recipe you would like to share, please feel free to <a href="/submit-recipe" class="link-primary">submit it</a> to us.</p>
        <div class="row gy-4">
            <div class="col-12 col-md-6">
                <h2 class="text-primary">Our Story</h2>
                <p class="text-justify text-muted">We started Food Blog as a way to share our passion for food with others. We believe that food has the power to bring people together and create lasting memories. We are a community of food lovers and we are always looking for new recipes to try. If you have a recipe you would like to share, please feel free to submit it to us.</p>
            </div>
            <div class="col-12 col-md-6">
                <h2 class="text-primary">Our Team</h2>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h5 class="text-primary">Tauseef Mushtaq</h5>
                        <p class="text-muted">Founder &amp; Recipe Curator</p>
                    </div>
                    <div class="col-12 col-md-6">
                        <h5 class="text-primary">Shagufta Saeed</h5>
                        <p class="text-muted">Co-Founder &amp; Recipe Curator</p>
                    </div>
                </div>
                <p class="text-justify text-muted">We are a small team of food lovers who are dedicated to bringing you the best recipes. We are always looking for new recipes to try and we are always open to suggestions. If you have a recipe you would like to share, please feel free to submit it to us.</p>
            </div>
        </div>
    </div>
</main>

