    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1 class="display-1 text-danger">Error</h1>
                <p class="lead">Something went wrong</p>
                <p><%= message %></p>
                <a href="/" class="btn btn-primary mt-3">Go Home</a>
            </div>
        </div>
    </div>

